### boolian masking

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("netflix_titles_2021.csv")
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

### No of movies released before 2020 from each nation

In [3]:
BM=df["release_year"]<=2020

In [4]:
df[BM].country.value_counts()

United States                        2680
India                                 941
United Kingdom                        397
Japan                                 233
South Korea                           180
                                     ...
United States, South Korea, Japan       1
Argentina, United States, Mexico        1
Finland, Germany, Belgium               1
Canada, Norway                          1
United Arab Emirates, Jordan            1
Name: country, Length: 729, dtype: int64

 ### numer of movies relesed in 2020

In [5]:
BM=df["release_year"]==2020

In [6]:
df[BM].type.value_counts()

Movie      517
TV Show    436
Name: type, dtype: int64

### display ratings of tvshows each year

In [18]:
BM=df[df["type"]=="TV Show"]
df1=df[['release_year','rating']]
df3=pd.DataFrame(df1.groupby(['release_year']).rating.value_counts())
df3

                     rating
release_year rating
1925         TV-14        1
1942         TV-14        2
1943         TV-PG        3
1944         TV-14        2
             TV-PG        1
...                     ...
2021         TV-Y        26
             R           21
             TV-G        21
             PG-13       14
             PG          11

[440 rows x 1 columns]

### no of countries which realsed shows in "November 1, 2019"

In [9]:
BM=df.date_added== "September 24, 2021"

In [10]:
df[BM].country.value_counts()

South Africa                                                             1
India                                                                    1
United States, Ghana, Burkina Faso, United Kingdom, Germany, Ethiopia    1
United Kingdom                                                           1
United States                                                            1
Name: country, dtype: int64

In [11]:
BM=df.director=="Kirsten Johnson"
df[BM].type.value_counts()

Movie    1
Name: type, dtype: int64

In [12]:
BM=df.country=="India"
df[BM].type.value_counts()

Movie      893
TV Show     79
Name: type, dtype: int64

In [13]:
df[BM].title.value_counts()

Kota Factory             1
Aitraaz                  1
Mumbai Cha Raja          1
Harud                    1
Umrika                   1
                        ..
Oh! Baby                 1
Article 15               1
Care of Kancharapalem    1
Ee Nagaraniki Emaindi    1
Zubaan                   1
Name: title, Length: 972, dtype: int64

In [14]:
df[BM].listed_in.value_counts()

Comedies, Dramas, International Movies                 120
Dramas, International Movies                           118
Dramas, Independent Movies, International Movies       108
Dramas, International Movies, Romantic Movies           62
Action & Adventure, Dramas, International Movies        54
                                                      ...
British TV Shows, International TV Shows, TV Dramas      1
Comedies, Horror Movies, Independent Movies              1
International TV Shows, TV Dramas, Teen TV Shows         1
Comedies, International Movies, Thrillers                1
Action & Adventure, Classic Movies, Cult Movies          1
Name: listed_in, Length: 90, dtype: int64